.grid-wrapper {
  margin: 20px 0px;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  overflow-x: hidden;
  max-height: max-content;
}

.grid-image {
  max-width: inherit;
  max-height: 272px;
}

.poster-name {
  font-weight: 200;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
